/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fbfbfb;
    color: #0f0f0f;
    text-align: center
}

/* Formato del header */

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 15px;
    width: 100%;
    height: 90px;
    background-color: #fbfbfb;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 6px 10px -10px;
    z-index: 1;
}

div.container-fluid {
    display: flex;
    flex-direction: row-reverse;
}

.navbar-toggler {
    border-style: none;
}

ul.navbar-nav {
    display: flex;
    align-items: center;
}

li.nav-item a {
    display: inline-block;
    padding: 15px;
    transition-duration: 0.5s;
}

li.nav-item:hover {
    background-color: #79CBCA;
}

button#modOscuro {
    background: none;
    border-style: none;
}

button#modOscuro:hover {
    transition-duration: 0.5s;
    opacity: 30%;
}

/* Para darle la forma circular a la imagen y que se aleje del borde*/

figure img {
    max-width: 100%;
    border-radius: 50%;
    margin: 20px 0;
    width: 400px;
}

/* Formato de las secciones */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 15px;
    padding-top: 90px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

p {
    margin: 20px 0;
}

#hobby p {
    padding: 25px;
}

/* Formato del bontón del CV */

.boton {
    font-size: 20px;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border-radius: 30px;
    padding: 15px 15px;
    transition: 0.5s;
    background-size: 200%;
    text-decoration: none;
    color: #fbfbfb;
}

.boton:hover {
    background-position: right center;
    color: #fff;
}

/* Formato de las fotos en las slides */

#carousel {
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(119, 161, 211, 0.8), 0 6px 20px 0 rgba(121, 203, 202, 0.9);
    border-radius: 35px;
    padding: 1px;
}

.img-carousel {
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 30px;
    max-width: 380px;
    transition-duration: 0.5s;
}

/* Formato de la sección de contacto */

#contacto article {
    background-color: #77A1D3;
    border-radius: 10px;
    padding: 20px;
}

#contacto {
    color: #0f0f0f;
}

/* Formato de los íconos de contacto */

ul.iconos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

li img {
    width: 90px;
    padding: 10px;
    margin: 0;
    transition-duration: 0.8s;
}

.icono:hover {
    opacity: 30%;
    transition-duration: 0.3s;
}

/* Formato del footer */

footer {
    width: 100%;
    height: 60px;
    background-color: #79CBCA;
    color: #0f0f0f;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Formato modo oscuro*/

body.modo-oscuro {
    background-color: #0f0f0f;
    color: #fbfbfb
}

.modo-oscuro header {
    background-color: #0f0f0f;
    color: #fbfbfb;
}

.modo-oscuro li img {
    filter: invert(100%);
    transition-duration: 0.5s;
}

.modo-oscuro #contacto {
    color: #fbfbfb;
}

.modo-oscuro .boton {
    color: #0f0f0f;
}

.modo-oscuro .bg-body-tertiary {
    filter: invert(100%);
}

/* Formato tablet */

@media (min-width: 768px) {

    #contacto {
        padding: 50px;
    }

    .icono img {
        width: 120px;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    .img-carousel,
    #carousel {
        max-width: 550px;
    }
}

/* Formato PC */

@media (min-width: 1024px) {
    section#inicio {
        flex-direction: row;
        justify-content: space-around;
    }

    #contacto {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 350px 200px;
    }

    figure img {
        width: 500px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 22px;
    }

    article.presentacion {
        padding: 30px;
        width: 50%;
    }

    .icono img {
        width: 150px;
        transition: 0.8s;
    }

    .img-carousel,
    #carousel {
        max-width: 700px;
    }
}